<div class="page-container">
  <div class="row column recipe-show-container">
    <div class="row">
      <div class="small-12 columns">
        <h1 class="text-center main-text-color"><%= @recipe.title %></h1>
        <h2 class="text-center"><%= @recipe.sweetness %>  <%= @recipe.variety %></h2>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 columns">
        <% if @recipe.ingredients.empty? %>
        <h5 class="text-center">This recipe has no ingredients.</h5>
        <% else %>
        <h3 class="text-center">Ingredients</h3>
        <ul class="no-bullet">
          <% @ingredients.each do |ingredient| %>
          <li> <%= ingredient.amount %> <%= ingredient.unit %> <%= ingredient.name %> </li>
          <% end %>
        </ul>
        <% end %>
      </div>
      <div class="small-12 medium-6 columns">
        <% if @recipe.steps.empty? %>
        <h5 class="text-center">This recipe has no instructions.</h5>
        <% else %>
        <h3 class="text-center">Instructions</h3>
        <ol>
          <% @steps.each do |step| %>
          <li><%= step.action %> </li>
          <% end %>
        </ol>
        <% end %>
      </div>
    </div>

    <div id="recipe-id-div" hidden><%= @recipe.id %></div>

  </div>

  <% unless @recipe.success_count == 0 && @recipe.failure_count == 0 %>
  <div class="row">
    <div class="columns small-4, medium-6 large-4 small-centered recipe-chart">

      <canvas id="myChart" width="80" height="80"></canvas>
    </div>
  </div>
  <% end %>
  <script>
  function pieData() {
    $chartData = []
    $recipeId = document.getElementById('recipe-id-div').innerHTML;
    var $response = $.get('/api/v1/recipes/' + $recipeId,
    function(data) {
      $chartData.push(data.recipe.success_count);
      $chartData.push(data.recipe.failure_count);
      recipePie($chartData);
    });
  };

  function recipePie(recipeData) {
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: [
          "Success",
          "Failure",
        ],
        datasets: [
          {
            data: recipeData,
            backgroundColor: [
              "#e3a50f",
              "#4d4d4d"
            ],
            hoverBackgroundColor: [
              "#e7c36e",
              "#949494"
            ]
          }]
        }
      });
    }
    </script>
    <div class="text-center">
      <%= link_to 'Delete Recipe', recipe_path(@recipe),
      data: {confirm: "Deleting this recipe will also delete any batches it was applied to.\n\nAre you sure?"}, method: :delete, class: "button delete-button" %>
    </div>
  </div>
  <%= javascript_tag do %>
  pieData();
  <% end %>
