<h1><%= @recipe.title %></h1>
<h3><%= @recipe.variety %></h3>
<h3><%= @recipe.sweetness %></h3>

<% unless @recipe.ingredients.empty? %>
  <ul>
    <% @ingredients.each do |ingredient| %>
      <li> <%= ingredient.amount %> <%= ingredient.unit %> <%= ingredient.name %> </li>
    <% end %>
  </ul>
<% end %>

<% unless @recipe.steps.empty? %>
  <ol>
    <% @steps.each do |step| %>
      <li><%= step.action %> </li>
    <% end %>
  </ol>
<% end %>

<a><%= link_to 'Delete Recipe', recipe_path(@recipe), data: {confirm: 'Are you sure?'}, method: :delete %></a>
