<div class="row">
  <h1 class="text-center"><%= @batch.name %></h1>
  <div class="batch-recipe small-6 columns">
    <h3 class="text-center">Recipe: <%= @batch.recipe.title %></h3>
    <h4 class="text-center"><%= @batch.recipe.sweetness %> <%= @batch.recipe.variety %></h3>

    <% if !@batch.recipe.ingredients.empty? %>
    <h4>Ingredients</h4>
    <ul>
      <% @batch.recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient.amount %> <%= ingredient.unit %> <%= ingredient.name %></li>
      <% end %>
    </ul>
    <% else %>
    <h4>This batch's recipe does not list any ingredients</h4>
    <% end %>

    <% if !@batch.recipe.steps.empty? %>
    <h4>Steps</h4>
    <ul>
      <% @batch.recipe.steps.each_with_index do |step, index| %>
      <li> <%= index + 1 %>. <%= step.action %> </li>
      <% end %>
    </ul>
    <% else %>
    <h4>This batch's recipe does not list any steps</h4>
    <% end %>
  </div>
  <div class="small-12 medium-6 columns">
    <h3 class=text-center>Batch</h3>
    <h4 class="text-center">Start Date: <%= @batch.start_date %>  End Date: <%= @batch.end_date %></h4>
    <h5>Initial hydrometer Reading: <%= @batch.initial_hydrometer %></h5>
    <h5>Final hydrometer Reading: <%= @batch.final_hydrometer %></h5>
    <h5>Approximate ABV: <%= @batch.approx_abv %></h5>
    <h5>Progress</h5>
    <% unless @batch.completed_steps.nil? %>
      <ol>
        <% @batch.completed_steps.each do |step| %>
          <li class="strikethrough"><%= step.action %></li>
        <% end %>
      </ol>
    <% end %>
    <% if @batch.current_step %>
      <h6>Next Step: <%= @batch.current_step.action %></h6>
      <div id="batch-info" class="<%= @batch.id %>"></div>
    <% end %>
    <h5>Description:</h5>
    <p>
      <%= @batch.description %>
    </p>
    <h5>Notes:</h5>
    <p>
      <%= @batch.notes %>
    </p>
    <a><%= link_to 'Edit Batch', edit_batch_path(@batch) %></a>
  </div>
</div>
