<div class="row">
  <h1 class="text-center"><%= @batch.name %></h1>
  <div class="batch-recipe small-6 columns">
    <h3 class="text-center">Recipe: <%= @batch.recipe.title %></h3>
    <h4 class="text-center"><%= @batch.recipe.sweetness %> <%= @batch.recipe.variety %></h3>

    <% if !@batch.recipe.ingredients.empty? %>
    <h4>Ingredients</h4>
    <ul>
      <% @batch.recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient.amount %> <%= ingredient.unit %> <%= ingredient.name %></li>
      <% end %>
    </ul>
    <% else %>
    <h4>This batch's recipe does not list any ingredients</h4>
    <% end %>

    <% if !@batch.recipe.steps.empty? %>
    <h4>Steps</h4>
    <ol>
      <% @batch.recipe.steps.each do |step| %>
      <li><%= step.action %> </li>
      <% end %>
    </ol>
    <% else %>
    <h4>This batch's recipe does not list any steps</h4>
    <% end %>
  </div>
  <div class="small-12 medium-6 columns">
    <h3 class=text-center>Batch</h3>
      <div id="batch-info" class="<%= @batch.id %>"></div>
    <a><%= link_to 'Edit Batch', edit_batch_path(@batch) %></a>
  </div>
</div>
