<!DOCTYPE html>
<html lang="en">
<head>
  <title>Meads Expectations</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

<body id="swipeable">
  <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
        <button class="close-button" aria-label="Close menu" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>

        <ul class="vertical menu">
          <li><%= link_to (image_tag 'noun_18918_cc.svg', class: "bee"), root_path, class: "brand-logo center" %></li>
          <% if user_signed_in? %>
          <li><%= link_to 'Recipes', recipes_path%></li>
          <li><%= link_to 'Batches', batches_path%></li>
          <li><%= link_to 'Settings', edit_user_registration_path %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to 'Sign Up', new_user_registration_path, id: "main-sign-up-link"%></li>
          <li><%= link_to 'Sign In', new_user_session_path, id: "main-sign-in-link"%></li>
          <% end %>
        </ul>
      </div>

      <div class="off-canvas-content" data-off-canvas-content>
        <div class="data-sticky-container">

        </div>
        <div class="title-bar hide-for-large">
          <button id="swipe-in" class="menu-icon" type="button" data-toggle="offCanvas"></button>
          <div class="title-bar-title">Menu</div>
        </div>
        <% if user_signed_in? %>
        <div class="top-bar show-for-large">
          <% if user_signed_in? %>
            <%= render "layouts/authenticated_nav" %>
          <% else %>
            <%= render "layouts/unauthenticated_nav" %>
          <% end %>
        </div>
        <% end %>

        <% flash.each do |key, value| %>
        <div class="callout warning <%= key %>">

              <%= value %>
        </div>
        <% end %>

        <div class="main-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
$(function() {
  $button = document.getElementById('swipe-in')
  $("#swipeable").swipe( {
    swipeRight:function() {
      $button.trigger("click");
    },
    threshold: 75
  });
});
</script>
</html>
