<!DOCTYPE html>
<html lang="en">
<head>
  <title>Meads Expectations</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

<body>
  <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
        <button class="close-button" aria-label="Close menu" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>

        <ul class="vertical menu">
          <% if user_signed_in? %>
          <li><%= link_to (image_tag 'noun_18918_cc.svg', class: "bee"), root_path, class: "brand-logo center" %></li>
          <li><%= link_to 'Recipes', recipes_path %></li>
          <li><%= link_to 'Batches', batches_path %></li>
          <li><%= link_to 'Settings', edit_user_registration_path %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to 'Sign Up', new_user_registration_path%></li>
          <li><%= link_to 'Sign In', new_user_session_path%></li>
          <% end %>
        </ul>
      </div>

      <div class="off-canvas-content" data-off-canvas-content>
        <div class="data-sticky-container">

        </div>
        <div class="title-bar hide-for-large-only">
          <button class="menu-icon" type="button" data-toggle="offCanvas"></button>
          <div class="title-bar-title">Menu</div>
        </div>
        <div class="top-bar show-for-large-only">
          <ul class="menu">
            <% if user_signed_in? %>
            <li><%= link_to 'Recipes', recipes_path, class: "push-down-link" %></li>
            <li><%= link_to 'Batches', batches_path, class: "push-down-link"%></li>
            <li><%= link_to (image_tag 'noun_18918_cc.svg', class: "bee"), root_path, class: "brand-logo center" %></li>
            <li><%= link_to 'Settings', edit_user_registration_path, class: "push-down-link" %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete , class: "push-down-link"%></li>
            <% else %>
            <li><%= link_to 'Sign Up', new_user_registration_path, class: "push-down-link" %></li>
            <li><%= link_to 'Sign In', new_user_session_path, class: "push-down-link" %></li>
            <% end %>
          </ul>
        </div>

        <% flash.each do |key, value| %>
        <div class="alert alert<%= key %>">
          <ul>
            <li>
              <%= value %>
            </li>
          </ul>
        </div>
        <% end %>

        <div class="">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>


</body>
</html>
